aio-pika==6.8.2; python_version >= "3.5" and python_version < "4"
aiokafka==0.7.2
aiormq==3.3.1; python_version > "3.5" and python_version < "4"
anyio==3.5.0; python_full_version >= "3.6.2"
async-timeout==4.0.2; python_version >= "3.6"
asyncpg==0.25.0; python_full_version >= "3.6.0"
deprecated==1.2.13; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
idna==3.3; python_version >= "3.6" and python_full_version >= "3.6.2" and python_version < "4"
kafka-python==2.0.2
multidict==6.0.2; python_version >= "3.7" and python_version < "4"
packaging==21.3; python_version >= "3.6"
pamqp==2.3.0; python_version > "3.5" and python_version < "4"
pyparsing==3.0.9; python_version >= "3.6"
redis==4.2.2; python_version >= "3.6"
sniffio==1.2.0; python_version >= "3.5" and python_full_version >= "3.6.2"
wrapt==1.14.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
yarl==1.7.2; python_version >= "3.6" and python_version < "4"
